<!-- Section -->
{{ $section := .section }}
<section id="{{ $section.section_id }}" class="posts">
    {{ $display_posts := (.Site.GetPage "section" "/posts").Pages }}
    {{ range $post := $display_posts.ByDate.Reverse }}
    <a href="{{ $post.URL }}" class="article-teaser">
        {{ if $post.Params.thumb_img_path }}<img class="thumbnail" src="{{ $post.Params.thumb_img_path | relURL }}" alt="{{ $post.Params.thumb_img_alt }}"/>{{ end }}
        <div class="copy">
            <h2>{{ $post.Params.title }}</h2>
            <h3 class="publish-date">Published on {{ $post.Date | dateFormat "January 02, 2006" }}</h3>
            {{ if $post.Params.excerpt }}
            <p class="summary">{{ $post.Params.excerpt }}</p>
            {{ end }}
            {{ if and (eq $section.has_more_link true) $section.more_link_text }}
            <div class="text-link">{{ $section.more_link_text }}</div>
            {{ end }}
        </div>
    </a>
    {{ end }}
</section>
